    <div class="hero-section">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-lg-8">
                    <h1 class="font-weight-light text-white">Organize. Mobilize. Make a Difference.</h1>
                    <p class="text-white-75 mb-4">BacktoGreen helps you create, manage, and promote environmental campaigns and events. Join thousands of activists making our planet greener, one campaign at a time.</p>
                    <a class="btn btn-light btn-lg" href="#campaigns">Start a Campaign</a>
                    <a class="btn btn-outline-light btn-lg ms-2" href="#events">Find Events</a>
                </div>
            </div>
        </div>
    </div>