<form method="post" action="{{ path('app_zone_collecte_delete', {'id': zone_collecte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zone_collecte.id) }}">
    <button class="btn">Delete</button>
</form>
